<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>{{title}}</h1>
    <p>Электронный адрес: {{email}}</p>
    <p>Телефон: {{phone}}</p>
    <p>Текущее время: {{currentTime}}</p>

    <footer>
        <p>Express1 - Buravov A.A., Valiyev A.R.</p>
        <p>for IITU, CSSE-201M, 2020</p>
    </footer>
</body>
<html>
